* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(78, 78, 78);
}

a:link {
    text-decoration: none;
    color:  rgb(131, 130, 130);
}

a:hover {
    color: rgba(101, 90, 165);
}

header,
main {
    padding: 20px;
}

main {
    padding-top: 0;
}

img {
    border-radius: 50%;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 1.1em;
}

h3 {
    margin-bottom: -5px;
}

p {
    line-height: .5em;
    color: rgb(131, 130, 130);
    font-weight: 300;
    overflow-wrap: break-word;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(224, 224, 224);
    color: #fff;
    width: 90%;
}

/* -------- Class Styles -------- */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

.card {
    border: 1px rgb(196, 196, 196) solid;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 425px;
    transition-duration: 500ms;
}

.card:hover {
    border: 1px rgba(101, 90, 165, 0.9) solid;
    background-color: rgba(253, 240, 255, 0.274);
}

.profile-image {
    float: left;
    margin-right: 20px;
    
}

.profile-text {
    float: left;
}

/* -------- The Modal-------- */
/* https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

 
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 325px;
    text-align: center;
    border-radius: 5px;
  }

  .modal-content .profile-image {
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px 80px;
  }

  .modal-content p {
    line-height: 1.3;
  }

  #m0,
  #m1,
  #m2,
  #m3,
  #m4,
  #m5,
  #m6,
  #m7,
  #m8,
  #m9,
  #m10,
  #m11 {
    display: none;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* -------- Media Queries -------- */

@media (min-width: 768px) {
    .modal-content {
        width: 425px;
        margin: 13% auto; 
      }
    .modal-content .profile-image {
        padding: 20px 130px;
      }
}

@media (min-width: 1024px) {
    .modal-content {
        margin: 8% auto; 
    }
}





